.swiper .swiper-pagination {
  position: absolute;
  height: 20px;
  top: 20px;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.3) !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-white) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
}
