.swiper-pagination-bullet {
  background: var(--color-primary-300) !important;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary-400) !important;
}
.swiper-button-pre {
  color: var(--color-primary-200) !important;
}
.swiper-button-next:after {
  color: var(--color-primary-300) !important;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: var(--color-primary-400);
}
